/* style.css */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #121212; /* Dark background */
  color: #ffffff; /* Light text */
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px;
  color: #ffffff;
}

#bio {
  text-align: center;
  margin: 0 10px 20px 10px;
  font-size: 14px;
  color: #bbbbbb; /* Light gray text */
}

#main-description, .years, .item p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #dddddd; /* Slightly darker gray text */
}

h2 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #ffffff;
}

.item p {
  padding: 0 10px;
}

.main-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#main-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  cursor: pointer;
  border-radius: 0;
  border: 5px solid #ffffff;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.thumbnail {
  transition: transform 0.3s;
  width: 150px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid #333333; /* Add border to thumbnails */
}

.item {
  text-align: center;
  max-width: 200px;
  padding: 10px;
  background-color: #1e1e1e; /* Darker background for items */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Subtle shadow */
}

.thumbnail:hover {
  transform: scale(1.1); 
  transition: transform 0.3s;
}

/* Accent color for hover effect */
.item:hover {
  background-color: #333333; /* Dark gray background on hover */
}
